

<h1>******** Now your result ********</h1>


<h2>Your word: <%= params[:attempt] %></h2>

<h2>The grid was: <%= session[:grid] %></h2>
<h2>Your score:<%= @result[:score]  %></h2>
<h2>Message: <%= @result[:message] %></h2>
<p><%= session %></p>
